body {
  min-width: 100vw;
  min-height: calc(100vh - 40px);
  background-color: #022B3A;
  color: #E1E5F2;
  box-sizing: border-box;
  margin: 0;
  padding: 20px;
  font-family: sans-serif;
}

main {
  min-width: 100%;
  min-height: calc(100vh - 40px);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

main .create--container {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}

main .create--container header h1 {
  margin: 0 0 12px;
}

main .create--container input {
  border: none;
  width: 200px;
  height: 40px;
  border-radius: 4px;
  text-indent: 10px;
  font-size: 16px;
  font-weight: 600;
  color: #022B3A;
}

main .create--container input::placeholder {
  font-weight: normal;
}

main .create--container button {
  border: none;
  font-size: 16px;
  color: black;
  background-color: #FFBF00;
  border-radius: 4px;
  text-transform: uppercase;
  min-height: 40px;
  box-sizing: border-box;
  margin-left: 10px;
  padding: 0 18px;
  transition: ease-in all 0.1s;
  cursor: pointer;
}

main .create--container button:hover {
  background-color: #CC9900;
}

main .create--container button:active {
  background-color: #A37A00;
}

main .create--container button.disabled,
main .create--container button:disabled {
  background-color: grey;
  user-select: none;
  pointer-events: none;
}

main .pinyas--list {
  padding: 0;
  list-style: none;
  margin: 30px 0;
}

main .pinyas--list li {
  margin-bottom: 8px;
  font-size: 18px;
  font-weight: 600;
  padding: 5px;
  box-sizing: border-box;
  border-bottom: 1px dotted currentColor;
}
